# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/app/node_modules
/email-sync-service/node_modules

# production
/app/dist
/email-sync-service/dist
/app/.env
/email-sync-service/.env
/email-sync-service/.cache

# debug
/app/npm-debug.log*
/email-sync-service/npm-debug.log*
